<div ng-Controller="Debate" class="container-fluid ">

<!-- 	<div>
<h3>Location: Enter Zipcode</h3>
<input type="text">
</div> -->
<div class="row green lighten-5" id="serviceSearch">
	<h3>All Debates</h3>
<!--   <h4>Upload on file select</h4>
  <div class="button" ngf-select="upload($file)">Upload on file select</div>
  <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
  </div>   -->   
  {{errorMsg}}
	<p>Type the topic that you are looking for</p>
	<div class="input-field col s6" id="search">
		<i class="material-icons prefix">search</i>
		<input id="search"type="text" class="form-control" placeholder='' ng-model="filter_debates">

		<label for='search'>Type here: </label>
	</div>
</div>
<div class="debtate">
  <div class="col s4 " ng-repeat="post in gPosts |filter:filter_debates| orderBy: ['created_at']">
    <div class="card">
      <div class="card-image">
        <img class="activator" src="http://i.telegraph.co.uk/multimedia/archive/02432/zuckerberg_2432876b.jpg">
        <span class="card-title" ng-click='getPostDetail(post._id)'>Debate Title: {{post.title}}</span>
      </div>
      <div class="card-content">
        <p>Writen By: {{post.author_name}}</p>
        <p>{{post.content}}
        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
      </div>
      <div class="card-action">
        tags:
        <a ng-repeat='tag in post.tags' ng-click='clickTag(tag)' >#{{tag}}</a>
        <p>category:
        <a ng-click='clickCate(post.category)'><i class="mdi-action-stars small"></i>{{post.category}}</a></p>
      </div>
      <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>
    </div>
  </div>
</div>

