<style type="text/css">
	blockquote.barT{
		border-left: 5px solid #81d4fa;
	}
</style>
<div ng-Controller="PostDetail" class="container-fluid ">
	<h2>POST PAGE</h2>
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-image  waves-effect waves-block waves-light">
					<img src="http://i.telegraph.co.uk/multimedia/archive/02432/zuckerberg_2432876b.jpg" >
					<span class="card-title" ng-bind='postDetail.title'></span>
				</div>
				<div class="card-content">
					<p ng-bind='postDetail.content'></p>
					<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
				</div>
				<div class="card-action">
					<p><a ng-repeat='tag in postDetail.tags' ng-click='clickTag(tag)' >#{{tag}}</a></p>
					Category: <a ng-click='clickCate(postDetail.category)'>{{postDetail.category}}</a>

					<span class="right">
					<i class="small material-icons">thumb_up</i>{{postDetail.up}}  
					<i class="small material-icons">thumb_down</i>{{postDetail.down}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s8">
			<p>Click here if you agree</p>
			<a class="btn-floating btn-large waves-effect waves-light red" ng-click='up(true)'><i class="small material-icons">add</i></a>
		</div>
		<div class="col s2">
			<p>Click here if you disagree</p>
			<a class="btn-floating btn-large waves-effect waves-light blue" ng-click='up(false)'><i class="small material-icons">add</i></a>
		</div>
	</div>
	<div class="row">
		<div class="col s11">
			<div class="title">
				<h5>Comments</h5>
			</div>
			<div class="row">
				<div class="col s6 green lighten-5" id="addCom">
					<form >
						<h4>Add New Comment:</h4> 
						<textarea ng-model="comment.text" class="form-control materialize-textarea"></textarea>
						<br><br>
						Choose your side
						<p>
							<input class="with-gap" ng-model="comment.support" value="true" name="group1" type="radio" id="test1" />
							<label for="test1">👍</label>
						</p>
						<p>
							<input class="with-gap" ng-model="comment.support" value="false" name="group1" type="radio" id="test2" >
							<label for="test2">👎</label>
						</p>	
						<button class="btn  light-green darken-1" ng-click="addComment()" >Add</button>
					</form>
				</div>
			</div>	

			<blockquote class="card-panel grey small lighten-5 z-depth-1 " ng-class="{true: 'barT'}[comment.support]" ng-repeat="comment in comments | orderBy:[created_at]">
					<div class="valign-wrapper">
					<!-- <div class="barT left" ng-show='comment.support'>
					</div>
					<div class="barF left" ng-show='!comment.support'>
					</div> -->
					<div class="col s2 ">
						<img src="img/豆子.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
						<p class="center">{{comment.author_name}}</p>
					</div>
					<div class="col s10">
						<span class="black-text ">
							<p>{{comment.text}}</p>
							<span>{{comment.created_at}}</span>
							<a class="btn-floating waves-effect waves-light red right"><i class="material-icons" ng-click='likeComment(comment._id,comment.likes)'>thumb_up</i></a>
							<span class="right col s1" >likes: {{comment.likes}}</span>
						</span>
					</div>
				</div>
			</blockquote>	
		</div>
	</div>
</div>